//
//  HHOCDemo.release.xcconfig
//  HHObjectiveCDemo
//
//  Created by Michael on 2023/4/14.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//使用相对路径
#include "../../Pods/Target Support Files/Pods-HHObjectiveCDemo/Pods-HHObjectiveCDemo.release.xcconfig"
//同级目录
#include "HHOCDemo_Base.xcconfig"
////或者
//#include "./HHOCDemo_Base.xcconfig"
